.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: center;
  width: 100px;
  margin-right: 20px;
}

.cancelButton {
  margin-left: auto;
  background-color:tomato;
}